<header>
  <div class="header-logo">
    <a href="/">TweetClone</a>
  </div>
  <ul class="header-menus">
    <li>
        <a href="/about">TweetCloneとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>TweetCloneとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>
<img class="about-img" src="/tweets.png">